---
layout: default
---

<main class="main-content fadeInDown delay_075s">

  {% for post in paginator.posts %}
  {% include post-card.html %}
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <nav class="pagination">
    <h2 class="screen-reader-text">Posts navigation</h2>
    <div class="nav-links">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="newer-posts">&larr; Newer Posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="older-posts">Older Posts &rarr;</a>
      {% endif %}
    </div>
  </nav><!-- .pagination -->
  {% endif %}

</main><!-- .site-main -->